<!-- Section: Design Block -->
<!-- Section: Design Block -->
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/login.css' %}"> 
</head>


<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h6 class="mb-0 pb-3"><span>Ingresar </span>
                      <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                      <label for="reg-log"></label>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">

                                <form action="" method="POST">
                                    {% csrf_token %}
            
                                
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Ingresar a UP DENIM</h4>
                                        <form action="" method="POST"></form>
                                        
                                        <div class="form-group">
                                            <input type="text" name="username"  id=""class="form-style" placeholder="USUARIO" autocomplete="off">
                                            <i class="input-icon uil uil-at"></i>
                                        </div>	
                                        <div class="form-group mt-2">
                                            <input type="password" name="password" id="" class="form-style" placeholder="CONTRASEñA"  autocomplete="off">
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </form>
                               
                                        </div>
                                        
                                        <input type="submit" class="btn btn-dark animated-button" value="Ingresar">
                                       <!-- <p class="mb-0 mt-4 text-center"><a href="#0" class="link">¿Olvidaste tu contraseña?</a></p>-->
                                      </div>
                                      {% if form.errors %}
                                        
                                      {% for field in form  %}
                                  
                                      {% if fields.errors %}
                                  
                                      {% for error in field.errors %}
                                          {{ error|escape}}
                                      
                                      {% endfor %}
                                      
                                      
                                  {% endif %}
                                      
                                      
                                  {% endfor %}

                                  
                                  {% if form.non_field_errors %}
                                  
                                  {% for error in form.non_field_errors  %}
                                      {{error|escape}}
                                  {% endfor %}
                                      
                                      
                                  {% endif %}
                                      
                                      


                                  {%endif%}
                                  </div>
                              </div>
                            <div class="card-back">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        
                                        <form action="" method="POST">
                                            {% csrf_token %}
                    
                                        
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-4 pb-3">Ingresar a UP DENIM</h4>
                                                <form action="" method="POST"></form>
                                                
                                                <div class="form-group">
                                                    <input type="text" name="username"  id=""class="form-style" placeholder="USUARIO" autocomplete="off">
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>	
                                                <div class="form-group mt-2">
                                                    <input type="password" name="password" id="" class="form-style" placeholder="CONTRASEñA"  autocomplete="off">
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </form>
                                       
                                                </div>
                                                
                                                <input type="submit" class="btn btn-dark animated-button" value="Ingresar">
                                  </div>
                                  {% if form.errors %}
                                        
                                  {% for field in form  %}
                              
                                  {% if fields.errors %}
                              
                                  {% for error in field.errors %}
                                      {{ error|escape}}
                                  
                                  {% endfor %}
                                  
                                  
                              {% endif %}
                                  
                                  
                              {% endfor %}

                              
                              {% if form.non_field_errors %}
                              
                              {% for error in form.non_field_errors  %}
                                  {{error|escape}}
                              {% endfor %}
                                  
                                  
                              {% endif %}
                                  
                                  


                              {%endif%}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
</script>

  <!-- Section: Design Block -->
            
                </div>
            </div>
        </div>

    </div>
    
</body>
</html>
<style>
    @keyframes shadow-animation {
        0% { box-shadow: 5px 5px 0 red, -5px -5px 0 blue, 5px -5px 0 green, -5px 5px 0 yellow; }
        25% { box-shadow: 5px 5px 0 yellow, -5px -5px 0 red, 5px -5px 0 blue, -5px 5px 0 green; }
        50% { box-shadow: 5px 5px 0 green, -5px -5px 0 yellow, 5px -5px 0 red, -5px 5px 0 blue; }
        75% { box-shadow: 5px 5px 0 blue, -5px -5px 0 green, 5px -5px 0 yellow, -5px 5px 0 red; }
        100% { box-shadow: 5px 5px 0 red, -5px -5px 0 blue, 5px -5px 0 green, -5px 5px 0 yellow; }
    }

    .animated-button {
        animation: shadow-animation 5s infinite;
    }
    .btn-dark animated-button {
        font-size: 1.5em; /* Aumenta el tamaño del texto */
        padding: 10px 20px; /* Ajusta el padding para aumentar el tamaño del botón */
      }
</style>