{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

<link rel="stylesheet" href="{% static 'index/css/b4.css' %}">
<script src="{% static 'index/js/b4.js' %}"></script>


<div id="AgregarPersonalModal" class="modal" style="overflow: scroll;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark">Agregar nuevo</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <form method="POST" action="{% url 'agregarNovedadEmpleado' %}" enctype="multipart/form-data">{% csrf_token %}
                    {% for field in form_personal %}
                    <p>{{field.label}} <br>
                        {{field|add_class:"form-control text-dark"}}</p>
                    {% for error in field.errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="submit" class="btn btn-success">
                    Agregar
                </button>
            </div>
            </form>
        </div>
    </div>
</div>

<div id="EditarPersonalModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark">Editar</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <form method="POST" action="#" enctype="multipart/form-data">{% csrf_token %}
                    <input type="hidden" id="id_personal_editar" name="id_personal_editar">
                    {% for field in form_editar %}
                    <p> {{field.label}} <br>
                        {{field|add_class:"form-control"}}</p>
                    {% for error in field.errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
            </div>
            <div class="modal-footer bg-dark text-white">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                   Volver
                </button>
                <button type="submit" class="btn btn-success">
                    Aceptar
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="EliminarPersonalModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark">Eliminar</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <p class="labelmodal">¿Estás seguro?</p>
                <form method="POST" action="{% url 'eliminarNovedadEmpleado' %}">{% csrf_token %}
                    <input type="hidden" id="id_personal_eliminar" name="id_personal_eliminar">
            </div>
            <div class="modal-footer bg-dark text-white">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                   Volver
                </button>
                <button type="submit" class="btn btn-success">
                    Aceptar
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Novedades de Empleados   
            <img src="{% static 'index/img/UPIMG.png' %}" alt="Logo" style="width: 50px; height: 50px; display: inline-block; vertical-align: middle; margin-right: 10px;">
        </i></h3> <! -- Es para cambiar el icono xd -- >
        <div class="col-md-3 pb-2">
            <a href="#AgregarPersonalModal"
                data-toggle="modal" data-dismiss="modal">
                <button type="button" class="btn btn-success">
                    Agregar Novedad
                    <i class="fas fa-plus-circle"></i>
                </button>
            </a>
        </div>
        <div class="card card-body" style="overflow:scroll">
            <table class="table table-hover table-primary" id="myTable">
                <thead>
                    <tr>
                        <th># ID</th>
                        <th>Empleado</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                        <th>Descripcion</th>
                        <th>Tipo Novedad</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                    {% for i in novedadpersonal %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.codigo_empleado}}</td>
                        <td>{{i.fecha_inicio}}</td>
                        <td>{{i.fechafin}}</td>
                        <td>{{i.descripcion}}</td>
                        <td>{{i.idtiponovedad_personal}}</td>
                        <td>
                            <button onclick="editarEmpleado('{{i.iddocumento.documentoidentidad}}', '{{i.iddocumento.primer_nombre}}',
                             '{{i.iddocumento.segundo_nombre}}', '{{i.iddocumento.primer_apellido}}', '{{i.iddocumento.segundo_apellido}}', '{{i.genero}}','{{i.iddocumento.iddireccion.idciudad.id}}', '{{i.iddocumento.iddireccion.barrio}}',
                              '{{i.iddocumento.iddireccion.direccion}}', '{{i.iddocumento.idcontacto.telefono}}','{{i.iddocumento.idcontacto.correo}}','{{i.idtipo_comercio.id}}', '{{i.idtipo_cliente.id}}', '{{i.cod_cliente}}', '{{i.cupo_credito}}')"
                               class="btn btn-dark-outline btn-sm" data-toggle="modal"
                                href="#EditarPersonalModal"><img src="{% static 'index/img/editar.png' %}" alt="Error"
                                    width="30"></button>
                                    <button onclick="eliminarPersonal('{{i.idnovedadpersonal}}')" class="btn btn-dark-outline btn-sm"
                                    data-toggle="modal" href="#EliminarPersonalModal"><img
                                        src="{% static 'index/img/delete.png' %}" alt="Error" width="30"></button>
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        icon: 'error',
        title: 'Error...',
        text: "{{message}}",
    })
</script>
{% endfor %}
{% endif %}
{% endblock %}